<ion-view view-title="Home">
	<ion-content class="padding">

		<div class="row">
		
			<div class="col col-40">
				<button class="button button-block button-assertive icon ion-close" ng-click="home.nope(home.currentIndex)">Effacer</button>
			</div>
			
			<div class="col col-20">
				<!--<button class="button button-block button-positive icon ion-information" ng-click="home.openModal()"></button>-->
			</div>
			<div class="col col-40">
				<button class="button button-block button-balanced icon ion-card" ng-click="home.like(home.currentIndex, home.currentCardUid)"> + Card</button>
			</div>
		</div>

	</ion-content>
</ion-view>
